<sf-list-selector sf-news-selector sf-selected-item="selectedItem" sf-select-button-text="Select breaking news..." sf-change-button-text="Change breaking news..."/>

<select ng-options="item.Title for item in newsItems" ng-model="selectedItem"></select>

@*<div>
    <label>Date: </label>
    <input type="text" ng-model="properties.Date.PropertyValue" ng-change="buildBreakingNewsMessage()" />
</div>
<div>
    <label>Title: </label>
    <textarea rows="3" ng-model="properties.Title.PropertyValue" ng-change="buildBreakingNewsMessage()" />
</div>
<div>
    <label>Final Message: </label>
    <textarea rows="3" ng-model="properties.Message.PropertyValue" ng-disabled="true" />
</div>*@