<div>
    <label>Date: </label>
    <input type="text" ng-model="properties.Date.PropertyValue" ng-change="buildBreakingNewsMessage()" />
</div>
<div>
    <label>Title: </label>
    <textarea rows="3" ng-model="properties.Title.PropertyValue" ng-change="buildBreakingNewsMessage()" />
</div>
<div>
    <label>Final Message: </label>
    <textarea rows="3" ng-model="properties.Message.PropertyValue" ng-disabled="true" />
</div>