<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6113.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add name="Webinars" enabled="True" access="Anonymous" autogenerateTypes="False" urlName="webinars">
					<types>
						<add LifecycleStatus="Live" enabled="True" urlName="webinars" pageSize="50" autogenerateProps="True" clrType="Telerik.Sitefinity.DynamicTypes.Model.Webinars.Webinar" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
							<propertyMappings>
								<remove Name="LastModified" />
								<remove Name="PublicationDate" />
								<remove Name="ExpirationDate" />
								<remove Name="UrlName" />
								<remove Name="Comments" />
							</propertyMappings>
						</add>
					</types>
				</add>
			</services>
		</add>
	</Routes>
</webServicesConfig>