@*<div>
    <label>Title: </label>
    <input type="text" ng-model="properties.Title.PropertyValue" />
</div>

<div>
    <label>Description: </label>
    <textarea rows="3" ng-model="properties.Description.PropertyValue" />
</div>

<div>
    <label>Starting at: </label>
    <input type="date" ng-model="properties.StartTime.PropertyValue" />
</div>

<div>
    <label>Ending at: </label>
    <input type="date" ng-model="properties.EndTime.PropertyValue" />
</div>*@

<sf-list-selector sf-dynamic-items-selector sf-item-type="'Telerik.Sitefinity.DynamicTypes.Model.Webinars.Webinar'" sf-master="true" sf-selected-item="selectedItem" />