@model IEnumerable<SitefinityWebApp.Mvc.ViewModels.WebinarViewModel>

@foreach (var item in Model)
{

<div>
    <label>Title: </label>
    <span>@Html.Raw(item.Title)</span>
</div>

<div>
    <label>Description: </label>
    <span>@Html.Raw(item.EventContent)</span>
</div>

@*<div>
    <label>Starting at: </label>
    <span>@Html.Raw(item.StartTime.ToString())</span>
</div>

<div>
    <label>Ending at: </label>
    <span>@Html.Raw(item.EndTime.ToString())</span>
</div>*@

}